        <div class="navbar navbar-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <footer role="contentinfo">
                            <p class="left">It's Time To Move</p>
                            <p class="right">&copy; 2015 <a href="https://github.com/tfunato" target="_blank">tfunato</a></p>
                        </footer>
                    </div>
                </div>
            </div>
        </div>

