                <div class="col-md-2 bootstrap-admin-col-left">
                    <ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
                        <li {{#aboutMenuActive}}class="active"{{/aboutMenuActive}}>
                            <a href="/"><i class="glyphicon glyphicon-chevron-right"></i> About</a>
                        </li>
                        <li {{#dashbordMenuActive}}class="active"{{/dashbordMenuActive}}>
                            <a href="/dashboard"><i class="glyphicon glyphicon-chevron-right"></i> Dashboard</a>
                        </li>
                        <li {{#readMenuActive}}class="active"{{/readMenuActive}}>
                            <a href="/read"><i class="glyphicon glyphicon-chevron-right"></i> Read</a>
                        </li>
                    </ul>
                </div>

