        <nav class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="/">Vicuna</a>
                        </div>
                    </div>
                </div>
            </div><!-- /.container -->
        </nav>

