<!DOCTYPE html>
<html>
    <head>
        <title>Dashbord | Vicuna</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {{> common/style}}
        <style type="text/css">
            #map-canvas {
                height: 100%;
                width: 100%;
                margin: 0px;
                padding: 0px
            }
            .img_snap {
              background: no-repeat url(https://www.ingress.com/img/common_sprite.png) 0 -40px;
              height: 40px;
              margin: 0 auto;
              width: 40px;
            }
            .control {
              padding-right: 5px;
              cursor: pointer;
            }
            .geo-ctl {
              padding: 5px;
            }
        </style>
    </head>
    <body >
        <!-- small navbar -->
        {{> common/small_navbar}}

        <!-- main / large navbar -->
        {{> common/main_navbar}}

        <div class="container">
            <!-- left, vertical navbar & content -->
            <div class="row">
                <!-- content -->
                <div class="col-md-12">
                    <div class="row">
                        <div id="map" class="col-md-12" style="width:100%; height:580px">
                            <div id="map-canvas"></div>
                            <div id="control" class="control"><div id="snap" class="img_snap"></div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        {{> common/script}}
        <script type="text/javascript">
            var mapObj;
            var currentCenterLatLng;
            var currentMarker;
            var markerList;

            // Map初期化
            function initialize() {
                markerList = new google.maps.MVCArray();

                var map = document.getElementById("map-canvas");

                var currentPos = getCurrentLatLng();
                var options = {
                    zoom: 17,
                    center: currentPos,
                    scaleControl: true,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    clickableIcons: false
                };
                mapObj = new google.maps.Map(map, options);
                currentMarker = new google.maps.Marker({
                    position: currentPos,
                    map: mapObj
                });
                // 現在地ボタン
                var snapControl = document.getElementById('control');
                snapControl.index = 1;
                mapObj.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(snapControl);
                google.maps.event.addDomListener(snapControl, 'click', function() {
                    moveToCurrent();
                });

                // 地図移動を検知
                google.maps.event.addListener(mapObj, 'idle', function(){
                    // 境界値取得
                    var bounds = mapObj.getBounds();
                    movedCenerLatLng = bounds.getCenter();
                    if (currentCenterLatLng) {
                        var distance = google.maps.geometry.spherical.computeDistanceBetween(currentCenterLatLng, movedCenerLatLng);
                        // 200m以上移動したら問い合わせ
                        if (distance < 200) {
                            return;
                        } else {
                            currentCenterLatLng = movedCenerLatLng;
                        }
                    } else {
                        currentCenterLatLng = movedCenerLatLng;
                    }
                    var param = {
                         neLat: bounds.getNorthEast().lat() + 0.0006,
                         swLat: bounds.getSouthWest().lat() - 0.0006,
                         neLng: bounds.getNorthEast().lng() + 0.0006,
                         swLng: bounds.getSouthWest().lng() - 0.0006
                    };
                    // マーカークリア
                    markerList.forEach(function(marker, idx) {
                      marker.setMap(null);
                    });
                    //var marker_points = new google.maps.MVCArray();

                    // ポータル問い合わせ
                    $.ajax({
                    	type:"POST", 
                    	url:'/portals', 
                    	data:param, 
                        success: function(response) {
                            var portals = response;
                            for (var i= 0; i < portals.length; i++) {
                              var portal = portals[i];
                              var  marker = new google.maps.Marker({
                                position: new google.maps.LatLng(portal.lat, portal.lng),
                                map: mapObj,
                                title: portal.title,
                                icon: new google.maps.MarkerImage(
                                      "https://commondatastorage.googleapis.com/ingress.com/img/map_icons/marker_images/neutral.png",
                                      new google.maps.Size(50,50), // size
                                      new google.maps.Point(0,0),  // origin
                                      new google.maps.Point(30,30) // anchor
                                    )
                              });
                              markerList.push(marker);

                              var infoContents = '<div class="infowindow">' +
                                   '<a href="' + portal.intel + '" target="_blank">' +
                                   portal.title + '</a></div>';
                              markerClick(marker, infoContents);
                            }
                        }
                      });
                  });
              }
              // 現在地を取得
              function getCurrentLatLng() {
                // 現在位置初期化
                var lat = 35.681382;
                var lng = 139.766084;
                if (navigator.geolocation){
                    navigator.geolocation.getCurrentPosition(
                        function(pos) {
                            lat = pos.coords.latitude;
                            lng = pos.coords.longitude;
                    	},
                    	function(error) {});
                }
                return new google.maps.LatLng(lat, lng);
              } 
              // 現在地へ移動
              function moveToCurrent() {
                  if (navigator.geolocation){
                      navigator.geolocation.getCurrentPosition(
                        function(pos){
                           latLng = new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude);
                           mapObj.panTo(latLng);
                           currentMarker.setMap(null);
                           currentMarker = new google.maps.Marker({
                             position: latLng,
                             map: mapObj
	                   },
	                   function(error) {
	                	   
	                   });
                    });
                  }
              }
              // マーカークリック
              function markerClick(marker, msg) {
                  var infoWindow = new google.maps.InfoWindow({
                      content: msg,
                      maxWidth: 250
                  });
                  google.maps.event.addListener(marker, 'click', function(event) {
                      if (infoWindow.getMap()) {
                          infoWindow.close(marker.getMap(), marker);
                      } else {
                          infoWindow.open(marker.getMap(), marker);
                      }
                  });
              }
         </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkKL2HpfaabNFMvGLIb7eEbEt1SvM3nDw&libraries=geometry&callback=initialize" async defer></script>
    </body>
</html>
